force-app/main/default/flows/Quick_Create_Attendance.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <description>In time should be greater than from the out Time.</description>
        <name>Checking_time</name>
        <label>Checking time</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>createAttendance</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>In_Time_greater_Out_ime</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>In_Time</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Out_Time</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Message</targetReference>
            </connector>
            <label>In Time greater  Out ime</label>
        </rules>
    </decisions>
    <description>It is used for creating attendance</description>
    <environments>Default</environments>
    <interviewLabel>Quick Create Attendance {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quick Create Attendance</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createAttendance</name>
        <label>createAttendance</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Success_Message_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>Employee__c</field>
            <value>
                <elementReference>Employee.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>In_Time__c</field>
            <value>
                <elementReference>In_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Out_Time__c</field>
            <value>
                <elementReference>Out_Time</elementReference>
            </value>
        </inputAssignments>
        <object>Attendance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Message002</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(228, 38, 38); font-size: 12px;&quot;&gt;Out Time should be greater than In Time!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>It is used for input record.</description>
        <name>Input_Screen</name>
        <label>Input Screen</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Checking_time</targetReference>
        </connector>
        <fields>
            <name>In_Time</name>
            <dataType>DateTime</dataType>
            <fieldText>In Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Out_Time</name>
            <dataType>DateTime</dataType>
            <fieldText>Out Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Employee</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Employee__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Employee</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Attendance__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Message_Screen</name>
        <label>Success Message Screen</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(61, 207, 218);&quot;&gt;Attendance has been created successfully!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Exit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Input_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
